<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        include block/header
        main
            .contacto
                h1.contacto__titulo  Contacto
                form(action="")
                    input#nombre(type="text", name="nombre")
                    input#asunto(type="text", name="asunto")
                    input#correo(type="text", name="correo")
                    textarea#comentario(name="comentario", cols="30", rows="10")
                    input(type="submit", value="Enviar")
        include block/footer

