<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        include block/header
        .slide
            img(src="slider-2.jpg", alt="slide")
        main
            .productos
                .producto
                    img(src="woman-1.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-2.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-3.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-4.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-1.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-2.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-3.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="woman-4.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="man-1.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="man-2.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="man-3.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
                .producto
                    img(src="man-4.jpg", alt="").producto__img
                    .producto__descripcion
                        h2.producto__titulo La nueva sensación
                        .producto__precio S/. 500
        include block/footer

