header.header
    .header__logo
        img(src="logo.png", alt="logo").logo
    .header__menu
        ul.menu
            li: a(href="index.html") Inicio
            li: a(href="productos.html") Productos
            li: a(href="nosotros.html") Nosotros
            li: a(href="contacto.html") Contacto